.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}